header{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    font-size: 20px;
    border-bottom: solid 1px white;
}
body {
    font-family: Quicksand;
    background: #101010;
    color: white;
    margin: 0px;

    
}
main {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-top: 100px;
    background: #1b1936;
    margin-left: 200px;
    margin-right: 200px;
}
}
p {
    font-size: 25px;

}
button {
    font-family: Quicksand;
    width: 100px;
    height: 40px;
    background: white;
    color: #2e857b;
    border: solid 2.5px #055f56;
    margin-right: 10px;
    margin-left: 10px;
}
.passo {
    display: none;


}  
.passo.ativo {
    display: block;
    text-align: center;
}
