header{
    font-family: Caveat;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 3%;
    color: #ffdf89;
    font-size: 20px;
    border-bottom: solid 1px #ffffff;
    box-shadow: 0px 1px 4px 0px #ededed;
    text-shadow: 1px 1px 10px #ffb900;
}
body {
    font-family: Quicksand;
    background: #101010;
    color: white;
    margin: 0px;

}
main {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    margin-top: 5%;
    background: #0f1522;
    border: solid white 1px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    box-shadow: 0px 0px 9px 0px #cccccc;
    border-radius: 15px;
}
}
p {
    font-size: 25px;
}
button {
    font-family: Quicksand;
    padding: 10px;
    max-width: 30%;
    color: white;
    border: solid 2.5px #ffdb7a;
    margin: 10px;
    background: #101010;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #ffc01b;
    text-shadow: 0px 0px 3px #dedede;
}
.b-avancar.b {
   max-width: 100px;
}

.botoes {
    margin-top: 15px;
}
button:hover {
    background: #ffcd48;
    color: black;
    border: solid 2.5px #ffcd48;
    box-shadow: 0px 0px 20px 3px #ffc736;
    text-shadow: 0px 0px transparent;
}
.passo {
    display: none;
}  
.passo.ativo {
    display: block;
    text-align: center;
}
img {
    max-width: 40%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px #070a10;
}
.parte-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
}
